    <baseTask (baseTask)="initiateTask($event)"></baseTask>
    <div>
       <label for="purchase">Select purchase currency</label>
       <currency id="purchase" (setCurrency)="setPurchase($event)"></currency>
    </div>
    <div>
        <label for="amountPurchase">Write amount currency to purchase</label>
        <input type="text" id="amountPurchase" [(ngModel)]="purchaseAmount" required />
    </div>
    <div>
        <label for="sell">Select sell currency</label>
        <currency id="sell" (setCurrency)="setSell($event)"></currency>
    </div>
    <div>
        <label for="amountSell">Write amount currency to sell</label>
        <input type="text" id="amountSell" [(ngModel)]="saleAmount" required />
    </div>
    <div>
        Exchange Rates: {{saleAmount / purchaseAmount}}
    </div>
    <button (click)="createTask()">Create task</button>